*{
    margin: 0;
    padding: 0;
    max-height: 1800px;
}
body{
  font-family: "Open Sans";
  background: #fff;
  color: #333;
  line-height: 1.6;  
  overflow: auto;
}

a {
    text-decoration: none;
    color: #333;
}

ul{
    list-style: none;
}

.text-primary{
    color: #28a745;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top:0px;
    padding: 0 10px;
}

#navbar ul {
    display: flex;
}

#navbar a {
    padding: 10px 15px;
    color: hsl(0, 0%, 100%);
    margin: 0 5px;
}

#navbar ul a:hover{

    border-top: #28a745 2px solid;
    border-bottom: #28a745 2px solid;

}


/** HERO **/

.hero{
    background: url("../images/home/showcase.jpg") no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: white;
}

.hero .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
    font-size: 55px;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin:20px 0 30px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}

.btn:hover {
    opacity:0.9 ;
}

.btn-primary {
    background: #28a745;
    columns: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    
}

.hero * {
    z-index:10;
}

/* Icons */
.icons {
    padding: 30px;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.icons i {
    background-color: #28a745;
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}

.flex-items{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;

}

.flex-items div {
    padding: 20px;
}

.row{
    display: flex;
    justify-content: center;
}

.column2{
    width: 100%;
    text-align: center;
    padding-top: 100px;
    background: #28a745;
}

.btn-outline{
    margin: 20px;
    background: white;
    color: green;
}


@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }

    .navbar a {
        padding: 10px 10px;
        margin: 0 3px;
    }

    .flex-items {
        flex-direction: column;
    }

    .flex-columns .column, .flex-grid .column {
        flex: 100%;
        max-width: 100%;
    }

    .team img {
        width: 70%;
    }

    .row{
       flex-direction: column;
    }
}